<%= form_for @post, :html => { :multipart => true }, remote: true do |p| %>

	<% if @post.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this category from being saved:</h2>

	      <ul>
	      <% @post.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>

	<%= p.label :title %>
	<%= p.text_field :title %>
	<br>
	<%= p.label :body %>
	<%= p.text_area :body %>
	<br>
	<p>Related to : </p>
	<br>
	<%= text_field_tag 'search', nil, placeholder: 'Enter related tags separated by commas.' %>
	<br>
	<%= p.fields_for :post_attachments do |f| %>
       <%= f.label :avatar %><br>
       <%= f.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]" %>
   <% end %>
	<br>
	<%= p.submit "Create" %>
<% end %>