<div>
</div>
<br>
<br>
<br>
</br>
<div>
<%= form_tag change_name_user_path @user , method: :change_name do %>
<p>
	<%= "Add/change name:" %>
	<%= text_field_tag :n %>
</p>
<p>
<%= submit_tag "Apply changes"%>
</p>
<% end %>
</div>
</br>
<div>
<%= form_tag change_signature_user_path @user , method: :change_signature do %>
<p>
	<%= "Add/change signature" %>
	<%= text_field_tag :sig %>
</p>
<p>
<%= submit_tag "Add/change signature"%>
</p>
<% end %>
</div>
</br>
<div>
<%= form_tag change_info_user_path @user , method: :change_info do %>
<p>
	<%= "Add/Change Information" %>
	<%= text_field_tag :info %>
</p>

<p>
	<%= submit_tag "add/change info" %>
</p>
<% end %>
</div>
</br>
<div>
<%= "Change display picture" %>
<%= form_tag edit_display_picture_user_path @user , :html => {:multipart => true}, method: :post do %>
		<%= "image url" %>
		<%= text_field_tag :image_url %><br />

		<%= file_field_tag :image %> 

		<%= submit_tag %>
	<% end %>
</div>