
<!-- edited by Lolo -->
<%= @user.username %>
<%= @user.profileImage %>


<!-- edited by oufa -->
	<%= form_tag edit_display_picture_user_path @user , :html => {:multipart => true}, method: :post do %>
		<%= label_tag :image_url %>
		<%= text_field_tag :image_url %><br />

		<%= file_field_tag :image %> 

		<%= submit_tag %>
	<% end %>

<!-- creayte new post - edited_by mariam -->
<% if auth_user_profile?(1) %>
	<%= form_for @post, :url => posts_path, :remote=>true  do |p| %>
		<%= p.label :title %>
		<%= p.text_field :title %>
		<br>
		<%= p.label :body %>
		<%= p.text_area :body %>
		<br>
		<p>Related to : </p>
		<br>
		<%= collection_check_boxes(:post, :related_categories, Category.all, :id, :name) %> 
		<br>
		<%= p.submit "Create" %>
	<% end %>
<% end %>
<!-- end -->

<!--anas -->
<%= form_tag change_username_user_path @user , method: :change_username do %>
<p>
	<%= "change username:" %>
	<%= text_field_tag :un %>
</p>

<p>
<%= submit_tag "change username"%>
</p>

<% end %>
<!--end -->

