<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="show.css" />
	<title></title>
</head>
<body>
<div id="bar1" >

</div>

<div id="basic">

	<div id="profileImage">
		<%= image_tag(@user.profileImage) %>
	</div>

	<div id="share">
		<% @l = "http://127.0.0.1:3000/users/" + (@user.id).to_s %>
		<%= social_share_button_tag("Share this profile", :url => @l) %>
		<br>
		<% if @user.auth %>
			<%= image_tag "http://i.imgur.com/Fu963fR.png" %>
		<% end %>
		<br>
		<div style="width: 100%">
		<% if @user == current_user and !current_user.auth and !current_user.request %>
			<%= button_to "Request auth", {:controller => :users, :action => :request_auth} %>
		<% end %>
		<br>
		</div>
	</div>


	<div id="userInfo">
		<%= "Name :" %> <%=@user.name %></br>
		<%= "Email :" %> <%=@user.email %></br>
		<%= '" '  %> <%=@user.information %> <%= ' " '  %> </br>
		<br>
		 
		<% if @user.id = current_user.id %>
			<div id="edit">
				<%= link_to "Edit your information" , '/user/edit_info' %>
			</div>
		<% end -%>
	</div>

	<div id="userPosts">
		<div id="post">
			<%= render @posts %>			
		</div>
	</div>

	<div id="addPost">
	<%= link_to 'New post', new_post_path,id: "new_link", remote: true %> 
	</div>
	
</div>
<br>
<br>
<br>
<br>
<div>
	
</div>

</body>
</html>





