<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="show.css" />
	<title></title>
</head>
<body>
<div id="bar1" >

</div>

<div id="basic">

	<div id="profileImage">
		<%= image_tag(@user.profileImage) %>
	</div>

	<div id="share">
		<% @l = "http://127.0.0.1:3000/users/" + (@user.id).to_s %>
		<%= social_share_button_tag("Share this profile", :url => @l) %>
		<br>
		<% if @user.auth %>
			<%= image_tag "http://i.imgur.com/Fu963fR.png" %>
		<% end %>
		<br>
		<div style="width: 100%">
		<% if @user == current_user and !current_user.auth and !current_user.request %>
			<%= button_to "Request auth", {:controller => :users, :action => :request_auth} %>
		<% end %>
		<br>
		</div>
	</div>


	<div id="userInfo">
		<%= "Name :" %> <%=@user.name %></br>
		<%= "Email :" %> <%=@user.email %></br>
		<%= '" '  %> <%=@user.information %> <%= ' " '  %> </br>
		<br>
		<!--update-->
		
		<!--end of update-->
		 
		<% if @user.id = current_user.id %>
			<div id="edit">
				<%= link_to "Edit your information" , '/user/edit_info' %>
			</div>
		<% end -%>
	</div>

	<div id="userPosts">
		<div id="post">
			<% @posts.each do |p| %>
				<h3> <%= p.title %> </h1>
				<p>  <%= p.body%> </p></br>
				<% @p = "http://127.0.0.1:3000/posts/" + (p.id).to_s %>
				<%= link_to "view post" , @p %>
				<div id="empty">
					</br>
					</br>
				</div>
			<% end %>			
		</div>
	</div>

	<div id="addPost">

		<%= form_for @post, url: posts_path, :remote => true, :html => { :multipart => true } do |p| %>

		<% if @post.errors.any? %>
	    	<div id="error_explanation">
	     		 <h2><%= pluralize(@post.errors.count, "error") %> prohibited this category from being saved:</h2>

	      		<ul>
	     		 	<% @post.errors.full_messages.each do |message| %>
	       		 	<li><%= message %></li>
	      			<% end %>
	      		</ul>
	    	</div>
  		<% end %>
  	<%= "New post: " %>	
	<br>	
	<%= p.label :title %>
	<%= p.text_field :title %>
	<br>
	<%= p.label :body %>
	<%= p.text_area :body %>
	<br>
	<p>Related to : </p>
	<br>
	<%= p.collection_check_boxes :category_ids, Category.all, :id, :name %>
	<br>
	<%= p.fields_for :post_attachments do |f| %>
       <%= f.label :avatar %><br>
       <%= f.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]" %>
   <% end %>
	<br>
	<%= p.submit "Create" %>
		<% end %>
	</div>
	
</div>
<br>
<br>
<br>
<br>
<div>
	
</div>

</body>
</html>





